.navigation-menu{
 display: flex;
 justify-content: space-between;
 width: 65%;
 align-items: center;
 margin: 0 auto;
 margin-bottom: 20px;
}

.size {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.size:hover {
    color: green;
    background-color: gainsboro;
  }

  /* Change color on link click */
  .size:active {
  color: green;
  background-color: gainsboro;
}

/* Add a line below the link text when it's active */
.size:hover::after,.size:active::after {
  content: "";
  display: block;
  border-bottom: 3px solid green;
  margin-top: 10px;
}
  
.all {
  margin-top: 20px;
}
.row {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  
}

.card-size {
  height: 520px;
  width: 400px;
  background-color: white;
  box-shadow:5px 10px 20px 1px rgba(0,0,0,0.253);
  margin-bottom: 20px;
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
}

.card:hover {
  margin-top: -10px;
  
  box-shadow:5px 10px 20px 1px rgba(0,0,0,0.253);
height: 510px;
  width: 380px;
}

